{% extends "weblibrary/base.html" %}

{% block content %}

<h3><a class = "upper" href = "{% url 'all_lists' %}">Список</a></h3>

<form action = "find_book">
    <p>
      Поиск книги:<input name = "search", type="text", size="40", placeholder= "Введите название книги либо автора">
    </p>
    <input type="submit" value="Искать">
</form>
<div class = "list">
  <h3>Список авторов</h3>
  <table>
      <tr>
       <th>№ </th>
       <th>Имя </th>
        <th>Фамилия </th>
      </tr>
      {% for person in authors %}
      <tr>
       <td>{{ person.id }}</td>
       <td>{{ person.name }}</td>
       <td>{{ person.surname }}</td>
       <td><a href="{% url 'author_edit' person.id %}">Изменить</a> | <a href="{% url 'author_delete' person.id %}">Удалить</a></td>
      </tr>
      {% endfor %}
  </table>
  <a href="{% url 'author_create' %}">Добавить автора</a>
</div>
<div class = "list">
  <h3>Список книг</h3>
  <table>
    <tr>
      <th>№ </th>
      <th>Название </th>
      <th>Автор </th>
      <th></th>
    </tr>
    {% for book in books %}
    <tr>
      <td>{{ book.id }}</td>
      <td>{{ book.name }}</td>
      <td>{{ book.author }}</td>
      <td><a href="{% url 'book_edit' book.id %}">Изменить</a> | <a href="{% url 'book_delete' book.id %}">Удалить</a></td>
    </tr>
    {% endfor %}
  </table>
  <a href="{% url 'book_create' %}">Добавить книгу</a>
</div>

{% endblock %}
