<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset = "utf-8"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <title>Онлайн-библиотека</title>
</head>
<body>
  <h2>Онлайн - библиотека</h2>
  <div id = "content">
    <div class = "auth">
        {% if user.is_authenticated %}
        <li>Пользователь: {{ user.get_username }}</li>
        <li><a href="{% url 'all_lists'%}?next={{request.path}}">Посмотреть все</a></li>
        <li><a href="{% url 'logout'%}?next={{request.path}}">Выйти</a></li>   
      {% else %}
        <li><a href="{% url 'all_lists'%}">Посмотреть все</a></li>
        <li><a href="{% url 'login'%}?next={{request.path}}">Войти</a></li>   
      {% endif %}
    </div>
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
